@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: rgb(25, 25, 25);
    height: 100%;
    width: 100%;
}

html {
    height: 90%;
    width: 100%;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav span {
    font-weight: 700;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

#navbarNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.nav-item {
    text-transform: lowercase;
}

.box-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
}

.menu-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px 0px 120px;
}

.menu-list {
    padding: 0px 140px 0px 60px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: justify;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
}

ul {
    list-style-type: none;
}

li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px 0px 8px 0px;
}

hr.solid {
    border-top: 1px solid rgb(255, 255, 255, .3);
}

.hamburger-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px 0px 20px;
}

.menu-photo {
    max-height: 20vh;
}

ul li h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    font-size: 18px;
}

#book {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(255, 255, 255, .8);
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255, .8);
    padding: 7px;
    margin: 0px 0px 0px 220px;
    -webkit-transition-duration: .4s;
         -o-transition-duration: .4s;
            transition-duration: .4s;
}

#book:hover {
    border: 3px solid rgb(255, 255, 255, .4);
    color: rgb(255, 255, 255, .4);
    -webkit-transition-duration: .4s;
         -o-transition-duration: .4s;
            transition-duration: .4s;
}

@media (max-width: 900px) {

    .box-content {
        display: unset;
    }

    .menu-description {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 30px 50px 0px 50px;
        margin: 0px 0px 30px 0px;
    }

    h1 {
        text-align: center;
    }

    .menu-list {
        padding: 0px;
    }

    .menu-photo {
        max-height: 15vh;
    }

    li {
        padding: 15px 50px 15px 0px;
    }
    
    hr.solid {
        margin: 0px 20px 0px 0px;
    }
}